.header h2 {
  margin: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-new {
  margin:1rem;
  background-color: #e6c65c;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: all 0.3s ease;
  width: max-content;
}

.btn-new:hover {
  background-color: #166d3c;
  transform: translateY(-1px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 1rem;
}

.card h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #3b2f2f;
}

.card p {
  font-size: 0.90rem;
  color: #5e5e5e;
  margin: 0.4rem 0 0.8rem;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
}

.btn-edit {

  background-color: #fbbf24;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  color: #3b2f2f;
  text-decoration: none;
  transition: background 0.3s ease;
  width: 90px;
}

.btn-edit:hover {
  background-color: #f59e0b;
}

.status {
  background-color: #e5e7eb;
  color: #333;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  width: fit-content;
}

.status.active {
  background-color: #d1fae5;
  color: #065f46;
}
